@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 1s ease;
  background: radial-gradient(#0077b6, #03045e, #2c0053);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 00%;
  }
}
